[submodule "repositories/twittering-mode"]
	path = repositories/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "repositories/maximize"]
	path = repositories/maximize
	url = git://github.com/izawa/maximize.git
[submodule "repositories/dired-filetype-face"]
	path = repositories/dired-filetype-face
	url = git://github.com/jixiuf/dired-filetype-face.git
[submodule "repositories/helm-project"]
	path = repositories/helm-project
	url = git://github.com/shishi/helm-project.git
[submodule "repositories/tern"]
	path = repositories/tern
	url = https://github.com/marijnh/tern.git
[submodule "repositories/github-css"]
	path = repositories/github-css
	url = https://gist.github.com/andyferra/2554919
[submodule "repositories/markdown-css-themes"]
	path = repositories/markdown-css-themes
	url = https://github.com/jasonm23/markdown-css-themes.git
