[submodule "repositories/expand-region"]
	path = repositories/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "repositories/rvm"]
	path = repositories/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "repositories/js2-mode"]
	path = repositories/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "repositories/direx-el"]
	path = repositories/direx-el
	url = git://github.com/m2ym/direx-el.git
[submodule "repositories/nyan-mode"]
	path = repositories/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "repositories/popwin-el"]
	path = repositories/popwin-el
	url = git://github.com/m2ym/popwin-el.git
[submodule "repositories/mark-multiple"]
	path = repositories/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "repositories/quickrun"]
	path = repositories/quickrun
	url = git://github.com/syohex/emacs-quickrun.git
[submodule "repositories/rinari"]
	path = repositories/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "repositories/wgrep"]
	path = repositories/wgrep
	url = git://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "repositories/grep-o-matic"]
	path = repositories/grep-o-matic
	url = git://github.com/ZungBang/emacs-grep-o-matic.git
[submodule "repositories/grep-a-lot"]
	path = repositories/grep-a-lot
	url = git://github.com/ZungBang/emacs-grep-a-lot.git
[submodule "repositories/key-combo"]
	path = repositories/key-combo
	url = git://github.com/uk-ar/key-combo.git
[submodule "repositories/smartrep"]
	path = repositories/smartrep
	url = git://github.com/myuhe/smartrep.el.git
[submodule "repositories/bm"]
	path = repositories/bm
	url = git://github.com/joodland/bm.git
[submodule "repositories/emacs-window-manager"]
	path = repositories/emacs-window-manager
	url = git://github.com/kiwanami/emacs-window-manager.git
[submodule "repositories/duplicate-thing"]
	path = repositories/duplicate-thing
	url = git://github.com/ongaeshi/duplicate-thing.git
[submodule "repositories/twittering-mode"]
	path = repositories/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "repositories/rainbow-delimiters"]
	path = repositories/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "repositories/powerline"]
	path = repositories/powerline
	url = git://github.com/yuanotes/powerline.git
[submodule "repositories/scratch-ext-el"]
	path = repositories/scratch-ext-el
	url = git://github.com/kyanagi/scratch-ext-el.git
[submodule "repositories/drag-stuff"]
	path = repositories/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "repositories/wrap-region"]
	path = repositories/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "repositories/ruby-interpolation"]
	path = repositories/ruby-interpolation
	url = git://github.com/leoc/ruby-interpolation.el.git
[submodule "repositories/fic-mode"]
	path = repositories/fic-mode
	url = git://github.com/lewang/fic-mode.git
[submodule "repositories/jump-char"]
	path = repositories/jump-char
	url = git://github.com/lewang/jump-char.git
[submodule "repositories/pomodoro"]
	path = repositories/pomodoro
	url = git://github.com/docgnome/pomodoro.el.git
[submodule "repositories/maximize"]
	path = repositories/maximize
	url = git://github.com/izawa/maximize.git
[submodule "repositories/yaml-mode"]
	path = repositories/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "repositories/volatile-highlights"]
	path = repositories/volatile-highlights
	url = git://github.com/k-talo/volatile-highlights.el.git
[submodule "repositories/jaunte"]
	path = repositories/jaunte
	url = git://github.com/kawaguchi/jaunte.el.git
[submodule "repositories/ndmacro"]
	path = repositories/ndmacro
	url = git://github.com/snj14/ndmacro.el.git
[submodule "repositories/smooth-scroll"]
	path = repositories/smooth-scroll
	url = git://github.com/k-talo/smooth-scroll.el.git
[submodule "repositories/scratch-log"]
	path = repositories/scratch-log
	url = git://github.com/mori-dev/scratch-log.git
[submodule "repositories/joseph-single-dired"]
	path = repositories/joseph-single-dired
	url = git://github.com/jixiuf/joseph-single-dired.git
[submodule "repositories/quick-jump"]
	path = repositories/quick-jump
	url = git://github.com/jixiuf/quick-jump.git
[submodule "repositories/Highlight-Indentation-for-Emacs"]
	path = repositories/Highlight-Indentation-for-Emacs
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "repositories/org-tree-slide"]
	path = repositories/org-tree-slide
	url = git://github.com/takaxp/org-tree-slide.git
[submodule "repositories/zlc"]
	path = repositories/zlc
	url = git://github.com/mooz/emacs-zlc.git
[submodule "repositories/anything-project"]
	path = repositories/anything-project
	url = git://github.com/imakado/anything-project.git
[submodule "repositories/auto-highlight-symbol-mode"]
	path = repositories/auto-highlight-symbol-mode
	url = git://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "repositories/emacs-yafastnav"]
	path = repositories/emacs-yafastnav
	url = git://github.com/tm8st/emacs-yafastnav.git
[submodule "repositories/undo-tree"]
	path = repositories/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "repositories/bundler"]
	path = repositories/bundler
	url = git://github.com/tobiassvn/bundler.el.git
[submodule "repositories/minimap"]
	path = repositories/minimap
	url = git://randomsample.de/minimap.git
[submodule "repositories/magit"]
	path = repositories/magit
	url = git://github.com/magit/magit.git
[submodule "repositories/rhtml"]
	path = repositories/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "repositories/switch-window"]
	path = repositories/switch-window
	url = git://github.com/dimitri/switch-window.git
[submodule "repositories/rspec-mode"]
	path = repositories/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "repositories/dired-filetype-face"]
	path = repositories/dired-filetype-face
	url = git://github.com/jixiuf/dired-filetype-face.git
[submodule "repositories/deferred"]
	path = repositories/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "repositories/emacs-window-layout"]
	path = repositories/emacs-window-layout
	url = git://github.com/kiwanami/emacs-window-layout.git
[submodule "repositories/undohist"]
	path = repositories/undohist
	url = git://github.com/m2ym/undohist-el.git
[submodule "repositories/amp-glob"]
	path = repositories/amp-glob
	url = git://gist.github.com/792217.git
[submodule "repositories/volatile-highlight"]
	path = repositories/volatile-highlight
	url = git://gist.github.com/1101202.git
[submodule "repositories/yasnippets-rails"]
	path = repositories/yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "repositories/anything-rdefs"]
	path = repositories/anything-rdefs
	url = https://github.com/mori-dev/anything-rdefs
[submodule "repositories/smartchr"]
	path = repositories/smartchr
	url = git://github.com/imakado/emacs-smartchr.git
